<%= t "views.admin.product.show"%><%= @product.name %>
<div class="row">
  <div class="col-md-6">
    <%= t "views.admin.product.comment" %>(<%= @product.comments.size %>)
  </div>
  <div class="col-md-8" id="comments">
    <% @comments.each do |comment| %>
      <div class="row" id="comment">
        <%= comment.user.name %>
        <div class="content_comment">
          <%= comment.content %> | <%= comment.created_at %>
        </div>
      </div>
    <% end %>
    <div class="row">
      <%= link_to t("views.admin.product.add_comment"), new_admin_comment_path %>
    </div>
  </div>
</div>
