<%= form_for [:admin, @category], remote: true do |f| %>
<div id="error_explanation" class="bg-danger text-danger">
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <%= f.label :name, class: "control-label" %>
      <%= f.text_field :name, class: "form-control first_input" %>
    </div>
    <div class="form-group">
      <%= f.label :description, class: "control-label" %>
      <%= f.text_area :description, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit @category.new_record? ? t("views.admin.category.create") :
        t("views.admin.category.update"), class: "btn btn-primary" %>
    </div>
  </div>
</div>
<% end %>
