<tr>
  <td><%= product.name %></td>
  <td><%= product.price %><%= t "app.dollar" %></td>
  <td><%= product.sale_off %><%= t "app.percent" %></td>
  <td>
    <%= link_to t("views.admin.category.edit"), "#",
      remote: true, class: "btn btn-sm btn-info" %>
    <%= link_to t("views.admin.category.delete"), "#", remote: true, method: :delete, data: {confirm: t("views.admin.category.confirm")}, class: "btn btn-sm btn-danger" %>
  </td>
</tr>
