<div class="row">
  <div class="col-md-10" id="list_image">
    <% @products.each do |item|%>
      <div class="col-md-4 blog-main box text-center">
        <div class="panel panel-info">
          <div class="panel-body">
            <div class="row">
              <div id="image_for_product">
                <% if item.image_products.present? %>
                  <%= image_tag(item.image_products.first.image, size: "220x240") %>
                <% else %>
                  <%= image_tag("backgroud_images.jpg", size: "220x240")%>
                <% end %>
                <br />
                <div class="product_name">
                  <%= t "product.name" %>: <b><%= item.name %></b><br>
                  <%= t "product.price" %>: <%= t "app.dollar" %><%= item.price %>
                </div>
                <br><br>
                <div class="cart">
                  <div class="buy">
                    <%= link_to t("product.buy"), "#" %>
                  </div>
                  <div class="add">
                    <a href="cart/<%= item.id %>"><%= t "product.add_to_cart" %></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <% will_paginate %>
</div>
