<footer class="footer">
  <small>
    <%= t "layout.footer.text"%>
      <a href="https://www.facebook.com/lucifer.zzzkenzzz.23"><%= t "app.design" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("layout.header.help"), static_pages_help_path %></li>
      <li><%= link_to t("layout.footer.about"), static_pages_about_path %></li>
      <li><%= link_to t("layout.footer.contact"), static_pages_contact_path  %></li>
      <li><%= link_to t("layout.footer.new"), "http://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
