<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("layout.header.name_app"), '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("layout.header.home"), root_path %></li>
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <li><%= link_to t("layout.header.category"), admin_categories_path %></li>
          <% else %>
          <% end %>
        <% else %>
          <li><%= link_to t("layout.header.login"), new_user_session_path %></li>
          <li><%= link_to t("layout.header.signup"), new_user_registration_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
